/* .form_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;

    width: 100%;

}

.form_container hr{
    margin: 10px 0px;

    width: 75%;
}

.form_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    gap: 15px;
}

.form_container h1{
    margin-bottom: 2rem;
}

.form_container input[type="text"],
.form_container input[type="password"]{
    width: 13.5rem;
    height: 2rem;

    padding: 5px;
}

.form{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 10px;

    width: 50%;
    height: 50rem;
    background-color: var(--ash-gray);
}

.form form{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.form_block{
    display: flex;
    flex-flow: column;
    gap: 2px;
}

.password{
    display: flex;
    position: relative;
    gap: 15px;
}

.password input[type="button"]{
    position: absolute;
    width: 20%;
    height: 100%;
    left: 15rem;
}

.socialSignUp{

}

.errorText{
    width: 40%;
    text-wrap:wrap;
    white-space: normal;
    color: brown;

} */
.form_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(101, 147, 76);
}

hr {
    margin: 10px 0;
}

h1 {
    text-align: center;
    color: #333;
}

.socialSignUp {
    text-align: center;
    margin: 15px 0;
    /* Add styling for social sign-up buttons/icons */
}

form {
    display: flex;
    flex-direction: column;
}

.form_block {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    
}

label {
    color: #555;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.password {
    position: relative;
}

.password input[type="button"] {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.errorText {
    color: #e74c3c;
    margin-top: 10px;
    text-align: center;
}

Button {
    width: 100%;
    margin-top: 10px;
    margin-left: 10%;
}

p {
    text-align: center;
    margin-top: 10px;
    color: #555;
}

a {
    color: #3498db;
    text-decoration: none;
}
