.button {
  font-family: DM Serif Display;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display:flex;
  align-items:center;
  justify-content:center;
  border: none;
  border-radius:10px;
  font-weight:800;
  background-color: #A3AE9E
  ;
  cursor: pointer;
}
