.main{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;  
    margin: 0 4% 0 4%;
}
.groupPart {
  display: flex;
  /* justify-content: space-between; */
  width: 100%;
  /* margin-left: 5%; */
  margin-top: 20px;
  margin-bottom: 50px;
}
.groupPart img {
  width: 250px;
  height: 250px;
  border-radius: 10px;
}
.groupText {
  padding-left: 4%;
}
.groupText a{
  color: #A3AE9E;
}
.groupText h1 {
  color: #A3AE9E;
  margin-bottom: 10%;
  font-size: 2.5rem;
}
.groupText h3 {
  color: #A3AE9E;
}
.playlists {
  display: grid;
  grid-template-columns: repeat(4, minmax(20%, 1fr));
  gap: 40px 20px;
  width: 100%;
  margin-top: 50px;
  align-items: center;
  justify-content: space-between;
  margin-right: 2%;
}
.card_container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    height: 18rem;
}

/* .playlists{
display: flex;
flex-wrap: wrap;
}
.playlist{
    width: 16%; 
    margin: 10px;
    box-sizing: border-box;
    border: 1px solid #000;
    text-align: center;
    border-radius: 10px;
    height: 37vh;
    background-color: #a49c9c;
    margin-top: 40px;
}
.playlist:first-child{
    margin-left: 5%;
}
.playlist:last-child{
    margin-right: 5%;
}
.playlist img{
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 65%;
}
.playlist h4{
    text-align: left;
    padding-left: 5%;
    margin-bottom: 5%;
    margin-top:3%;
}
.playlist p{
    font-size: 70%;
    text-align: left;
    padding-left: 5%;
} */
.horizontalLine {
  width: 100%;
  height: 3px; 
  margin: 0 4% 0 4%;

  background-color: #37C513;
}