.builder {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.builder_inner {
  width: 80%;
  max-width: 600px;
  background-color: #898121;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  align-items: center;
}

h2 {
  color: #fff;
}

.playlistForm,
.songForm {
  margin-top: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #333;
  border-radius: 5px;
  color: black;
}

.publicCheck {
  display: flex;
  align-items: center;
  color: #fff;
}

.publicCheck label {
  margin-right: 10px;
}

/* Styles for Song Form */
.audioMain {
  display: flex;
  flex-direction: column;
}

.audioDescription {
  display: flex;
  gap: 20px;
}

.audioInfo {
  flex: 1;
}

.audioFiles {
  flex: 1;
  display: flex;
  gap: 20px;
}

.image{
  flex:1;
}
.audio {
  flex: 1;
}
.audio :hover {
  cursor: pointer;
}
.image :hover {
  cursor: pointer;
}
.customButton input {
  display: none;
}

.footer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.footer button {
  background-color: #ffffff;
  color: #000000;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 50%;
}

/* Styles for Displayed Songs */
.songs {
  margin-top: 20px;
}

.songDisplayed {
  margin-top: 20px;
  background-color: #b1a629;
  border-radius: 10px;
}

.songDisplayed__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  height: 20px;
}
.songDisplayed__top h3{
  margin-left: 1%;
}
.delete_icon {
  cursor: pointer;
  height: 100%;
}

.hr {
  border: 1px solid #fff;
}

.songDisplayed__data {
  display: flex;
  gap: 20px;
  height: 100px;
}

.songDisplayed__data img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.songDisplayed__data__media {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.songName,
.author {
  color: #fff;
  margin: 0;
}

.h5Player {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  padding: 10px;
}

/* Main Buttons */
.main_buttons {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
Button{
  margin-right: 10%;
}

.audio_player {
  margin: 0 4% 0 4%;
  display: flex;
  border: 2px solid black;
  margin-bottom: 1%;
  height: 10%;
  border-radius: 10px;
}

.audioPlayer {
  background-color: rgba(255, 255, 255, 0.2) !important; /* Прозрачный фон */
  display: flex;
  height: 100%;
  border-radius: 10px;
  line-height: 2;
  color: white !important;
  /* border: 1px solid white; */
}
.h5AudioPlayer {
  background-color: black;
}
.audio_player h1 {
  margin: 0 auto;
}

.audio_player img {
  margin-left: 3%;
}
.audioManage {
  width: 50%;
  height: 50px;
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  justify-content: center;
  align-items: center;
}



.songInfo {
  width: 20%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  color: black;
  margin-top: 1%;
}

.songImage {
  width: 100px;
  height: 90px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

}


@media (max-width: 390px) {
  audio {
    width: 100%;
  }
}
