.group {
  display: flex;
  flex-flow: column;
  width: 90%;
  gap: 3rem;
  margin: 0 auto;
  padding: 20px;
}

.group_text {
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: space-between;
}

.group_text h3 {
  display: inline-block;
  font-size: 1.9rem;
  margin: 0;
  color:#F7F1E5;
}

.group_text a {
  display: inline-block;
  text-decoration: none;
  color: #F7F1E5 ;
}
.group_text p {
  display: inline-block;
  cursor: pointer;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.9);
}

.cards {
  display: flex;
  align-items: center;
  gap: 15px;
  /* justify-content: space-between; */
}

.card_container {
  width: 20%;
  height: 18rem;
}

.showAllLink {
  display: inline-block;
  transition: background-color 0.3s ease, transform 0.3s ease;
  text-decoration: none;
  color: #fff;
  background-color: rgba(169, 166, 166, 0.42);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.showAllLink:hover, .show-all-link:focus {
  opacity:  100%;
  background-color: rgba(4, 191, 35, 0.78);
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
