.group {
  display: flex;
  flex-flow: column;
  width: 100%;
  gap: 3rem;
}

.group_text {
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: space-between;
}

.group_text h3 {
  display: inline-block;
  font-size: 1.9rem;
  margin: 0;
  color:#F7F1E5;
}

.group_text a {
  display: inline-block;
  text-decoration: none;
  color: #F7F1E5 ;
  opacity:  50%;
}
.group_text p {
  display: inline-block;
  cursor: pointer;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.9);
}

.cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card_container {
  width: 20%;
  height: 18rem;
}
